<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Test Suite" verbose="2" parallel="methods" thread-count="2">
<listener class-name="org.test.ListenerExmpl"></listener>
<test name="Test Cases">
<!-- <groups>
<run>
<include name ="MI"></include>
</run>
</groups> -->


<classes>
<class name="org.test.SampleExmpl3"></class>
</classes>
</test>
</suite>